@use "../../scss/variables.scss" as *;

.banner {
    position: relative;
    width: 100%;
    min-height: 140px;
    margin: auto;
    border-radius: 1rem;
    overflow: hidden; /* Pour cacher le débordement de l'image si nécessaire */
}

.banner::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.figma.com/file/2BZEoBhyxt5IwZgRn0wGsL/image/4706e7dde270fc8fc902a1eb738458e7b29c1899");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    filter: brightness(0.4);
}

.banner h2 {
    position: relative;
    z-index: 1; /* Pour placer le texte au-dessus de l'image */
    color: $color-tertiary;
    text-align: center;
    padding-inline: 2rem;
    margin-top: 3rem; /* Ajustez selon vos besoins */
    font-size : 38px;
    text-shadow: 
      -1px -1px 0 black,  
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
       @media screen and (max-width: 518px) {
        text-align: left; // Aligner le texte à gauche
    }

    @media screen and (max-width: 518px) {
        font-size: 38px; // Ajuster la taille du texte à 24px
    }
    @media screen and (max-width: 390px) {
        font-size: 36px; // Ajuster la taille du texte à 24px
    }
    @media screen and (max-width: 382px) {
        font-size: 34px; // Ajuster la taille du texte à 24px
        img {
            width: 100%;
            height: auto;
        }
    }
    @media screen and (max-width: 366px) {
        font-size: 32px; // Ajuster la taille du texte à 24px
    }
    @media screen and (max-width: 358px) {
        font-size: 32px; // Ajuster la taille du texte à 24px
    }
    @media screen and (max-width: 350px) {
        font-size: 31px; // Ajuster la taille du texte à 24px
    }
    @media screen and (max-width: 343px) {
        font-size: 30px; // Ajuster la taille du texte à 24px
    }
}



