@use "../../scss/variables.scss" as *;

.discribe_panel {
    margin-bottom: 1rem;
    flex-basis : 50%;
    overflow: hidden;
    p {
        margin-block : 0;
    }
    .description__title {
        background-color : $color-primary;
        color : $color-tertiary;
        padding: 0.2em 1em;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        i {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .description__content {
        background-color: $background-light;
        color : black;
        padding : 2.0rem;
        border-radius: 0.7rem;
        position: relative;
        top : -1.1rem;
        z-index : -1;
        animation: slide-in 0.5s ease-in-out;
        list-style: none;
        &.hidden {
            animation: slide-out 0.5s ease-in-out;
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
}

@keyframes slide-out {
    from {
        transform: translateY(-100%);
    }
}