@use "../../scss/variables" as *;

.grid {
    background-color: #f6f6f6;
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
    padding : 1rem;
    justify-content: space-around;
    margin-top : 30px;
}

@media screen and (width <= 768px) {
    .grid {
        justify-content: center;
        background-color: $grid-background-light;
        padding : 0;
    }
}